<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h3 class="pdf-title">Patients List</h3>
	<table class="department-info-container">
		<thead>
			<tr>
				<th>#</th>
                <th>Code</th>
                <th>Name</th>
                <th>Email</th>
                <th>ID No.</th>
                <th>Phone No.</th>
                <th>Gender</th>
                <th>City</th>
				<th>Contact Person</th>
				<th>Phone No.</th>
			</tr>
		</thead>
		<tbody>
			{% for pat in patients %}
			<tr>
				<td></td>
				<td>{{ pat.patient_code }}</td>
                <td>{{ pat.first_name }} {{ pat.last_name }}</td>
                <td>{{ pat.email }}</td>
                <td>{{ pat.id_number }}</td>
                <td>{{ pat.phone_number }}</td>
                <td>{{ pat.gender}}</td>
                <td>{{ pat.city }}</td>
				<td>{{ pat.emergency_contact_person_name }}</td>
				<td>{{ pat.emergency_contact_person_phone_number }}</td>
			</tr>
			{% endfor %}
		</tbody>

	</table>
</body>
</html>