<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h3 class="pdf-title">Staff List</h3>
	<table class="staff-info-container">
		<thead>
			<tr>
				<th>#</th>
				<th>F. Name</th>
				<th>L. Name</th>
				<th>Email</th>
				<th>Phone No.</th>
				<th>ID No.</th>
				<th>Profile</th>
				<th>Department</th>

			</tr>
		</thead>
		<tbody>
			{% for stf in staff %}
			<tr>
				<td></td>
				<td>{{ stf.first_name }}</td>
				<td>{{ stf.last_name }}</td>
				<td>{{ stf.email }}</td>
				<td>{{ stf.phone_number }}</td>
				<td>{{ stf.identification_no }}</td>
				<td>{{ stf.profile }}</td>
				<td>{{ stf.user_department.name }}</td>
			</tr>
			{% endfor %}
		</tbody>

	</table>

</body>
</html>